<div class="language-selector">
	<% if @language == "ENGLISH" %>
		<%= link_to "SPANISH", controller: "launching", action: "es" %>
	<% else %>
	  <%= link_to "ENGLISH", controller: "launching", action: "en" %>
	<% end %>
</div>
