<section id="team" class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="section-title">Our team</h3>
				<div class="section-title-border"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="members-container">
					<div class="member">
						<a href="http://blog.thistimeisforgood.com/"> <%= image_tag "http://www.gravatar.com/avatar/cc4b0c9de39095e1d04a8257246a9a09.png", :class => "gravatar" %> </a>
						<h4> Herve Tatche </h4>
						<p class="role"> Founder </p>
						<p class="nickname"> <a href="http://blog.thistimeisforgood.com/"> @htatche </a> </p>
							<div class="social">
								<a href="https://twitter.com/htatche" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								<a href="https://www.linkedin.com/profile/view?id=82546010" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
								<a href="https://github.com/htatche" class="btn btn-theme"><i class="fa fa-github"></i></a>
							</div>						
							<p class="description">
								Two years ago I packed my laptop and left my hometown,
								after hopping between several countries it's in Bolivia where
								I am kicking off my dream.
							</p>
							<p class="motto">
								Travel work enjoy
							</p>
					</div>

					<div class="member">
						<a href=""> <%= image_tag "http://www.gravatar.com/avatar/96d920e836cd703e7c5feba754924509.png", :class => "gravatar" %> </a>
						<h4> Marco Paulo </h4>
						<p class="role"> Creative </p>
						<p class="nickname"> <a href=""> @uxuimarco </a> </p>
							<div class="social">
								<a href="https://twitter.com/uxuimarco" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								<a href="https://linkedin.com/in/marcoacpaulo" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
							</div>						
							<p class="description">
								Wave pursuer and visual art lover. User first mindset, designer for flow and emotion.
							</p>
							<p class="motto">
								Surf Travel Sun
							</p>
					</div>

					<!-- <div class="member">
						<a href=""> <%= image_tag "", :class => "gravatar" %> </a>
						<h4> Zoltan Debre </h4>
						<p class="role">  </p>
						<p class="nickname"> <a href=""> @szines </a> </p>
							<div class="social">
								<a href="https://twitter.com/szines" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								<a href="" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
								<a href="github.com/szines" class="btn btn-theme"><i class="fa fa-github"></i></a>
							</div>						
							<p class="description">
								Two years ago I packed my laptop and left my hometown,
								after hopping between several countries it's in Bolivia where
								I am kicking off my dream.
							</p>
							<p class="motto">
								Travel</strong> work</strong> enjoy</strong>
							</p>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>		